<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <div class="navbar-header"><!-- start of navbar header -->
      <a class="navbar-brand" href="#">Rezhound</a>
    </div><!-- end of navbar header -->
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Book Now</a></li>
      <li><a href="#">Login</a></li>
    </ul><!-- end of navbar nav list -->

  </div><!-- end of div container fluid-->
</nav><!-- end of navbar inverse -->

<div class="jumbotron jumbotron-billboard">
    <div class="img">

    </div><!-- end of div class img-->
       <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Rezhound</h1>
                  <a routerLink="/fav" class="btn btn-info" role="button">Favourite</a>
              </div><!-- end of div col 12-->
          </div><!-- end of div row-->
       </div><!-- end of div container -->         
  </div><!-- end of jumbotron billboard -->
  
